/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */
/*h1 styling*/
h1 {
  font-size: x-large;
  font-weight: bolder;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
  font-style: italic;
  font-family: Helvetica, sans-serif;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.item {
  display: inline-flex;
  flex-direction: column;
  align-items: right;
  gap: 10px;
  margin: 12px;
  cursor: pointer;
}
.check-box{
  display: flex;
  align-items: right;
  gap: 10px;
}
.item span{
  font-size: large;
  text-align: right;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
.qty span{
font-family: 'Times New Roman', Times, serif;
font-size: medium;
}
.item img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}
#displayProduct ul {
list-style-type: none;
padding-left: 0;
margin-left: 0;
}
#displayProduct > ul > li {
  font-size: x-large;
  font-weight: bolde;
  margin-top: 30px;
  font-style: italic;
  font-family: Georgia, Times, 'Times New Roman', serif;
}
.unit{
  font-size: small;
  color:#777676;
  font-style: italic;
}



/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}